body{
    text-align: center;
}
#bob{
    background-color: rgb(21, 255, 0);
    text-emphasis-color: black;
    height: 30px;
}
#inputer{
    background-color: rgb(0, 0, 0);
    height: 30px;
    font-size: large;
}
.hi{
    text-decoration: underline;
}
#hhh{
    background-color: rgb(226, 23, 23);
    height: 30px;
}
#thetimer{
    color: red;
}
#thetimerstart{
    height: 30px;
    background-color: darkorange;
}
